<section class="no-padding" id="portfolio">
  <div class="container-fluid">
    <div class="row no-gutter popup-gallery">
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
        <a href="<%= @home.gallery_image_1.url(:original)  %>" class="portfolio-box"  title="<%="<strong>#{@home.gallery_image_1_title}</strong> <p style=\"color:white;\">#{@home.gallery_image_1_description}</p>" %>" >
          <img src="<%= @home.gallery_image_1.url(:medium) %> " class="img-responsive" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-name">
                <%=	@home.gallery_image_1_title  %>
              </div>
              <div class="project-category text-faded">
                <%=	@home.gallery_image_1_description %>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
        <a href="<%= @home.gallery_image_2.url(:original)  %>" class="portfolio-box"  title="<%= "<strong>#{@home.gallery_image_2_title}</strong> <p style=\"color:white;\">#{@home.gallery_image_2_description}</p>" %>" >
          <img src="<%= @home.gallery_image_2.url(:medium) %> " class="img-responsive" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-name">
                <%=	@home.gallery_image_2_title  %>
              </div>
              <div class="project-category text-faded">
                <%=	@home.gallery_image_2_description %>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
        <a href="<%= @home.gallery_image_3.url(:original)  %>" class="portfolio-box"  title="<%="<strong>#{@home.gallery_image_3_title}</strong> <p style=\"color:white;\">#{@home.gallery_image_3_description}</p>" %>" >
          <img src="<%= @home.gallery_image_3.url(:medium) %> " class="img-responsive" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-name">
                <%=	@home.gallery_image_3_title  %>
              </div>
              <div class="project-category text-faded">
                <%=	@home.gallery_image_3_description %>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
        <a href="<%= @home.gallery_image_4.url(:original)  %>" class="portfolio-box"  title="<%= "<strong>#{@home.gallery_image_4_title}</strong> <p style=\"color:white;\">#{@home.gallery_image_4_description}</p>" %>" >
          <img src="<%= @home.gallery_image_4.url(:medium) %> " class="img-responsive" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-name">
                <%=	@home.gallery_image_4_title  %>
              </div>
              <div class="project-category text-faded">
                <%=	@home.gallery_image_4_description %>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
        <a href="<%= @home.gallery_image_5.url(:original)  %>" class="portfolio-box"  title="<%="<strong>#{@home.gallery_image_5_title}</strong> <p style=\"color:white;\">#{@home.gallery_image_5_description}</p>" %>" >
          <img src="<%= @home.gallery_image_5.url(:medium) %> " class="img-responsive" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-name">
                <%=	@home.gallery_image_5_title  %>
              </div>
              <div class="project-category text-faded">
                <%=	@home.gallery_image_5_description %>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
        <a href="<%= @home.gallery_image_6.url(:original)  %>" class="portfolio-box"  title="<%= "<strong>#{@home.gallery_image_6_title}</strong> <p style=\"color:white;\">#{@home.gallery_image_6_description}</p>" %>" >
          <img src="<%= @home.gallery_image_6.url(:medium) %> " class="img-responsive" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-name">
                <%=	@home.gallery_image_6_title  %>
              </div>
              <div class="project-category text-faded">
                <%=	@home.gallery_image_6_description %>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>

<aside class="bg-primary">
  <div class="container text-center">
    <div class="call-to-action">
      <h2>Products</h2>
      <hr class="light">
      <p>See all our beautiful roses.</p>
      <%= link_to 'Catalog', products_path, class: 'btn btn-light' %><%= link_to 'Colors', colors_path, class: 'btn btn-transparent' %>
    </div>
  </div>
</aside>

