<div class="card">
  <div class="ui slide masked reveal image"
       data-behavior="popup-gallery"
       data-image="<%= product.image.url(:original) %>"
       data-package="<%= product.package.url(:original) %>"
  >
      <%= image_tag(product.image.url(:medium), class: 'visible content card-image') %>
      <%= image_tag(product.package.url(:medium), class: 'hidden content card-image') if product.package? %>
  </div>
  <div class="content">
    <div class="header"><%= product.name  %> </div>
    <div class="meta">
    <% if product.all_colors %>
      <%=	 link_to 'Available in all colors', colors_path %>
    <% else%>
      <%=	 link_to 'Ask for available colors', root_path(anchor: 'contact'), data:{ turbolinks: false } %>
    <% end %>
    </div>

    <div class="description">
      <%= product.description %>
    </div>
  </div>
  <% if product.dimensions? %>
    <div class="extra content">
      <span class="right floated">
       <strong> <%= product.dimensions %> </strong>
      </span>
      <span>
        <strong>Size</strong>
      </span>
    </div>
  <% end %>
</div>